*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F6D7A7;
}
.logo{
  color: #AA14F0;
  font-size: 30px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  font-size: 20px;
  color: #A9333A;
}
.nav-links a:hover{
  color: #8E0505;
  text-decoration: underline;
}
.burger{
  display: none;
}
.burger div{
  height: 4px;
  width: 20px;
  background-color: #A9333A;
  margin: 3px;
  transition: all 0.5s ease;
}

@media screen and (max-width:800px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #F6D7A7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1{
  transform: rotate(-45deg) translate(-4px,4px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
